@font-face {
    font-family: 'Mahoor';
    src: url('/static/fonts/Mahoor-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  /* === Mahoor ExtraBold === */
  @font-face {
    font-family: 'Mahoor';
    src: url('/static/fonts/Mahoor-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

  /* === Mahoor Medium === */
  @font-face {
    font-family: 'Mahoor';
    src: url('/static/fonts/Mahoor-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  /* === Mahoor Regular === */
  @font-face {
    font-family: 'Mahoor';
    src: url('/static/fonts/Mahoor-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  /* === Mahoor SemiBold === */
  @font-face {
    font-family: 'Mahoor';
    src: url('/static/fonts/Mahoor-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
body, input, select, textarea, .module caption, .breadcrumbs {
  font-family: 'Mahoor', Tahoma, sans-serif !important;
}